

/*index.css*/

html{

font-family: cursive;
}

.hour-estimate{
    font-weight: bolder;
    color: red;
    font-style: italic;
    font-size: small;
}

#add-todo-button{
    font-size: 15px;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 173px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#add-todo-button:active{
    background-color: silver;
    box-shadow: 2px 2px 2px;
    color: white;
}

li{
    padding: 5px;
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

input[type="checkbox"]{
    border: dotted;
    border-color: red;
    border-width: thick;
}

a:hover{
    color: blue;
}

a{
    color: black;
    text-decoration: none;
}


h1{
    text-align: center;
    border-radius: 25px;
    background: white;
    padding: 15px; 
    width: 600px;
    height: px;
    border-style: double;
    margin-left: auto;
    margin-right: auto;
    
}

div{
    margin-left: auto;
    margin-right: auto;
}

body{
    background: linear-gradient(to right, green, white);
}

.completed-todo{
    text-decoration: line-through;
}

#add-todo-text{
    margin: auto;
    width: 173px;
    border: 3px solid blue;
    border-radius: 5px;
    border-style: outset;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#add-hour{
    margin: auto;
    width: 173px;
    border: 3px solid blue;
    border-radius: 5px;
    border-style: outset;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[value="Add todo"]{
    margin-left: auto;
    margin-right: auto;
}
/*show.css*/
html{
    font-family: cursive;
}

body{
    background-color: silver;
    
}

h1{
    text-align: center;
    border-radius: 25px;
    padding: 150px; 
    width: 1000px;
    height: px;
    background-color: white
}

h2{
    text-align: center;
    background-color: white;
    border-color: blue;
}


input[value="Delete"]{
    font-size: 15px;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 173px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[value="Delete"]:active{
    background-color: silver;
    color: white;
}

input[value="Edit"]{
    font-size: 15px;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 173px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[value="Edit"]:active{
    background-color: silver;
    color: white;
}

input[value="Go Back"]{
    font-size: 15px;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 173px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[value="Go Back"]:active{
    background-color: silver;
    color: white;
}

p{
    font-size: 15px;
    color: black;
    background-color: white;
    width: 173px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border-color: blue;
}

/*edit.css*/
html{
    font-family: cursive;
}

h1{
    text-align: center;
    border-radius: 25px;
    background: white;
    padding: 15px; 
    width: 200px;
    height: px;
    border-style: double;
    margin-left: auto;
    margin-right: auto;
}

input[value="Edit todo"]{
    font-size: 15px;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 173px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[name="description"]{
    margin: auto;
    width: 173px;
    border: 3px solid blue;
    border-radius: 5px;
    border-style: outset;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="number"]{
    margin: auto;
    width: 173px;
    border: 3px solid blue;
    border-radius: 5px;
    border-style: outset;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: 15px;
    color: black;
    background-color: white;
    width: 173px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

body{
    border-style: dotted;
}

input[value="Cancel"]{
    font-size: 15px;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}