<h1>Add New Todo</h1>
<form action="/todo/create/">
    <span><input id="add-todo-text" type="text" placeholder="Add new todo" name="description"></span>
    <div><input id="add-hour" type="number" placeholder="Add hour(s)" name="time_estimate"></div>
    <div><input id="add-todo-button" type="submit" value="Add todo"></div>
    <a href="/todo/index" class="simple-link"><input type="submit" value="Cancel"></a>
</form>